<div
  class="flex items-start p-3 bg-white border-b border-gray-200"
  [ngClass]="isUserActive ? '' : 'pointer-events-none opacity-50'"
>
  <div class="basis-1/12 mr-3">
    <a [routerLink]="['/users/', user.id]">
      <avatar [userName]="user.username"></avatar>
    </a>
  </div>
  <div class="basis-11/12">
    <div class="inline-flex mb-2 items-center">
      <p class="font-medium mr-3">{{ user.username | slice : 0 : 20 }}</p>
      <p class="font-light mr-2">{{ user.email | cutAfterAt }}</p>
      <span
        class="w-2.5 h-2.5 rounded-full"
        [ngClass]="isUserActive ? 'bg-green-600' : 'bg-gray-300'"
      ></span>
    </div>
    <div class="content">
      <div class="font-light flex space-x-2 items-center mb-3">
        <span class="font-medium">Joined:</span>
        <span>{{ user.join_date | date : "medium" }}</span>
      </div>
      <div class="flex justify-end">
        <button
        mat-stroked-button
        color="primary"
        [routerLink]="['/users', user.id]"
        routerLinkActive="router-link-active"
        [queryParams]="{ userName: user.username }"
      >
        Details
      </button>
      </div>
    </div>
  </div>
</div>
