<mat-tab-group
  dynamicHeight
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  (selectedTabChange)="tabChange($event)"
>
  <mat-tab label="For You">
    <div
      class="h-[calc(100vh-102px)] overflow-auto custom-scrollbar pt-4"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
      <ng-container *ngForEmpty="let timeline of timelines; else: skeleton">
        <tweet-card [tweet]="timeline"></tweet-card>
      </ng-container>
      <div
        *ngIf="pageLoading"
        class="w-full h-full flex items-center justify-center"
      >
        <mat-progress-spinner
          mode="indeterminate"
          strokeWidth="3"
          diameter="50"
          color="primary"
        ></mat-progress-spinner>
      </div>
      <p
        *ngIf="isEndOfList"
        class="text-center capitalize font-medium text-gray-900 my-2"
      >
        You're end of tweets
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Followings">
    <ng-template matTabContent>
      <following-users></following-users>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="md:hidden block fixed right-4 bottom-16 z-10">
  <tweet-button></tweet-button>
</div>

<ng-template #skeleton>
  <skeleton></skeleton>
</ng-template>
