<div>
  <mat-error *ngIf="loginError" class="text-lg text-center mb-3">
    {{ loginError }}
  </mat-error>
  <form class="grid gap-4" [formGroup]="loginForm">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />

      <mat-error
        *ngIf="
          loginForm.controls['email'].hasError('email') &&
          !loginForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        [type]="hide ? 'password' : 'text'"
        autocomplete="on"
      />

      <!-- Hide Show  -->
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <!-- Hide Show  -->

      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
        Minimum length is 6
      </mat-error>
      <mat-error *ngIf="loginForm.controls['password'].hasError('maxlength')">
        Maximum length is 8
      </mat-error>
    </mat-form-field>
    <div class="flex items-center space-x-4">
      <p>No Account?</p>
      <a routerLink="/auth/sign-up" class="font-medium text-blue-600"
        >Sign Up</a
      >
    </div>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      Login
    </button>
  </form>
</div>

<div
  *ngIf="isLoading"
  class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
>
  <mat-progress-spinner mode="indeterminate" color="primary"> </mat-progress-spinner>
</div>
