<div class="dd">
  <form class="grid gap-4" [formGroup]="signUpForm">
    <mat-form-field class="w-full">
      <mat-label>User Name</mat-label>
      <input
        matInput
        formControlName="username"
        type="email"
        autocomplete="on"
      />
      <mat-error class="text-sm" class="text-sm" *ngIf="signUpForm.controls['username'].hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error class="text-sm" class="text-sm"
        *ngIf="signUpForm.controls['username'].hasError('forbiddenWord')"
      >
        Usernames containing the words "Twitter" or "Admin" cannot be claimed.
      </mat-error>
      <mat-error class="text-sm" class="text-sm"
        *ngIf="signUpForm.controls['username'].hasError('invalidLength')"
      >
        Your username cannot be longer than 15 characters or shorter than 4
        characters.
      </mat-error>
      <mat-error class="text-sm" class="text-sm"
        *ngIf="signUpForm.controls['username'].hasError('invalidCharacters')"
      >
        A username can only contain alphanumeric characters and underscores.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />

      <mat-error class="text-sm"
        *ngIf="
          signUpForm.controls['email'].hasError('email') &&
          !signUpForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error class="text-sm" *ngIf="signUpForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        [type]="hide ? 'password' : 'text'"
      />

      <!-- Hide Show  -->
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <!-- Hide Show  -->

      <mat-error class="text-sm" *ngIf="signUpForm.controls['password'].hasError('invalidLength')">
        Password must be between 6 and 12 characters.
      </mat-error>

      <mat-error class="text-sm" *ngIf="signUpForm.controls['password'].hasError('noUppercase')">
        Password must contain at least 1 uppercase letter.
      </mat-error>
      <mat-error class="text-sm" *ngIf="signUpForm.controls['password'].hasError('noNumber')">
        Password must contain at least 1 number.
      </mat-error>
      <mat-error class="text-sm" *ngIf="signUpForm.controls['password'].hasError('noSpecialChar')">
        Password must contain at least 1 special character (!, @, #, *, +, _, -, and ?).
      </mat-error>
    </mat-form-field>
    <div class="flex items-center space-x-4">
      <p>Already have Account?</p>
      <a routerLink="/auth/login" class="font-medium text-blue-600">Login</a>
    </div>

    <button mat-raised-button color="primary" (click)="onSubmit()" class="flex items-center">
      <span  >Sign Up</span>
      <!-- <ng-container *ngIf="!isSubmitting">
        <mat-icon><mat-spinner color="accent" diameter="20">
        </mat-spinner></mat-icon>
      </ng-container> -->

    </button>
  </form>
</div>
