<div class="w-full flex items-center justify-center px-4">
  <div class="md:hidden block">
    <img src="./assets/twitter-x.svg" alt="twitter" loading="lazy" class="w-12 h-12">
  </div>
  <h6
    class="sticky backdrop-blur-md top-0 w-full bg-white bg-opacity-50 border-b border-gray-100"
  >
    <p class="text-center text-lg p-3">Blaze your glory!</p>
  </h6>
  <div class="md:hidden block">
    <button mat-icon-button color="primary" aria-label="button with a logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
