<div
  class="flex items-start p-3 bg-white border-b border-gray-200"
  [ngClass]="isUserActive ? '' : 'pointer-events-none opacity-50'"
>
  <div
    class="basis-1/12 mr-3"
  >
   <a [routerLink]="['/users/', tweet.user.id]"  [queryParams]="{ userName: tweet.user.username }">
    <avatar [userName]="tweet.user.username"></avatar>
   </a>
  </div>
  <div class="basis-11/12">
    <div class="inline-flex space-x-3 mb-2 items-center">
      <p class="font-medium capitalize">{{ tweet.user.username }}</p>
      <div class="inline-flex space-x-1 items-center">
        <p class="font-medium">@{{ tweet.user.email | cutAfterAt }}</p>
        <span class="w-2.5 h-2.5 rounded-full" [ngClass]="isUserActive ? 'bg-green-600' : 'bg-gray-300'"></span>
      </div>
      <p class="font-light text-xs">{{ tweet.published | tweetTime }}</p>
    </div>
    <div class="content  py-1">
      <p class="break-all">
        {{ tweet.content | removeWhiteSpace | slice : 0 : 120 }}...
      </p>
      <!-- <unfollow [userId]="tweet.user.id"></unfollow> -->
    </div>
  </div>
</div>
