<div class="page">
  <div class="grid grid-cols-1 h-screen">
    <!-- <div class="left bg-blue-200"></div> -->
    <div class="left bg-white flex items-center justify-start p-10">
      <div class="max-w-md w-full mx-autoo">
        <div class="flex mb-6 space-x-3 items-center justify-center">
          <img src="/assets/twitter-x.svg" alt="twitter-x" loading="lazy" class="w-16">
          <h6 class="text-3xl font-medium text-center">Join Twitter</h6>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
