<div class="relative max-w-sm w-full mx-4">
  <mat-form-field class="w-full p-4">
    <mat-label>Search User</mat-label>
    <input
      matInput
      type="text"
      (input)="onSearch($event.target?.value)"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      placeholder="Enter user name"
    />
    <button
      *ngIf="searchTerm"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchTerm = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <ng-container *ngIf="loading">
    <skeleton></skeleton>
  </ng-container>
  <h6 *ngIf="searchResults.length > 0" class="text-lg mb-3 text-center">
    Found {{ searchResults.length }} users!
  </h6>
  <div
    [@fadeInOut]
    class="max-h-[calc(100vh-150px)] overflow-y-auto overflow-x-hidden custom-scrollbar"
  >
    <ng-container *ngForEmpty="let result of searchResults; else: template">
      <user-card [user]="result"></user-card>
    </ng-container>
  </div>
</div>

<ng-template #template>
  <p class="text-center font-medium text-gray-600">Try searching for people</p>
</ng-template>

<ng-template #skeleton>
  <skeleton></skeleton>
</ng-template>
